/* ADD YOUR STYLES HERE */
img {
	padding: 20px;
}

.large-pic {
	width: 160px;
	height: 160px;
}

.medium-pic {
	width: 120px;
	height: 120px;
}

.small-pic {
	width: 80px;
	height: 80px;
}

.xsmall-pic {
	width: 50px;
	height: 50px;
}

.horizontal {
	float: left;
	padding: 20px;
}

.vertical {
	vertical-align: middle;
	clear: both;
	padding: 20px;
}

.horizontal-list {
	list-style-type: none;
	padding: none;
	margin: none;
	display: inline;
	text-decoration: none;
}

.button {
	background-color: #ED828A;
	color: #FFF;
	float: left;
	margin: 10px;
	text-decoration: none;
}
.buy {
	height: 65px;
	font-weight: bold;
	width: 250px;
	text-align: center;
	padding-top: 35px;
	border-radius: 10px;
	font-size: 24px;
	margin-left: 0px;
	margin-right: 5px;
}

.learn {
	height: 40px;
	font-weight: bold;
	width: 200px;
	text-align: center;
	padding-top: 20px;
	margin-top: 35px;
	border-radius: 10px;
	font-size: 18px;
	margin-left: 0px;
	margin-right: 5px;
}

.ok {
	height: 30px;
	width: 60px;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	margin-top: 45px;
	margin-left: 0px;
	margin-right: 0px;
}

.adjust {
	height: 60px;
	width: 200px;
	border-radius: 10px;
	font-weight: bold;
	border: 0px;
	margin-top: 35px;
	margin-left: 0px;
	margin-right: 5px;
}


















